<library path="lib/libpabiroboy_joint_control">
  <class name="PaBiRoboyJointControl" type="PaBiRoboyJointControl" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      PaBiRoboy joint angle control plugin
    </description>
    <qtgui>
      <group>
        <label>PaBiRoboy</label>
      </group>
      <label>joint angle control</label>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
