<library path="lib/libroboy_motor_status">
  <class name="RoboyMotorStatus" type="RoboyMotorStatus" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      Motor status plugin
    </description>
    <qtgui>
      <group>
        <label>Roboy</label>
      </group>
      <group>
        <label>middleware</label>
      </group>
      <label>roboy motor status</label>
      <icon type="theme">system-help</icon>
      <statustip>Great user interface to provide real value.</statustip>
    </qtgui>
  </class>
</library>
